.projectlist {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.p-texts {
  width: 65%;
}

.p-title {
  font-weight: 600;
  font-style: 50px;
}

.p-desc {
  margin: 20px 0px;
}

.p-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .project {
    width: 40%;
    height: 20vh;
  }
}

@media screen and (max-width: 480px) {
  .projectlist {
    padding: 10px;
  }

  .p-texts {
    width: 100%;
  }

  .p-desc {
    display: none;
  }
}
