.toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 25px;
  z-index: 10;
  border: 1px solid #999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  cursor: pointer;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
  left: 0;
}
